/*
  Graph
------------------------------------------------------*/
.graph {
  position: relative;
  margin-bottom: 100px;
}

.dygraph-title {
  position: absolute;
  top: -20px;
}

.dygraph-ylabel {
  transform: rotate(-90deg);
  text-align: center;
  color: #666;
}

.dygraph-xlabel {
  text-align: center;
  margin-top: 20px;
  color: #666;
}

.dygraph-axis-label {
  color: #999;
  font-size: 14px;
}

.graph__legend {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
